<% cache do %>
<div class="container">
  <div class="contact">

    <%= flash[:notice] %>

    <%= form_tag("/static_pages/thank_you") do %>
    
    <div class="row">
      
      <center><h1>You Can Find Us Here</h1></center>
      
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2752.8706559023476!2d-122.95211248475655!3d46.37195417912213!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5494082bb3af41a3%3A0xf82f40da4f31f8bb!2sCloud+Mountain!5e0!3m2!1slt!2suk!4v1512597841962" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

      <div class="contact-header">
        <center><h1>Contact Us</h1></center>
      </div>

      <div class="col-md-6 col-xs-12 contact-group">
        <div class="form-group">
          <%= label_tag :name %>
          <%= text_field_tag :name, nil, class: "form-control", placeholder: "Enter Name", required: "true"; %>
        </div>      
        <div class="form-group">
          <%= label_tag :email, "Email Address" %>
          <%= text_field_tag :email, nil, type: "email", class: "form-control", placeholder: "Enter Email", required: "true" %>
        </div>  
        <div class="form-group">
          <%= label_tag :subject, "Subject" %>
          <%= text_field_tag :subject, nil, class: "form-control", placeholder: "Enter Subject" %>
        </div>       
      </div>

      <div class="col-md-6 col-xs-12">
        <div class="form-group">
          <%= label_tag :message %>
          <%= text_area_tag :message, nil, class: "form-control text-field", placeholder: "Enter Message", required: "true", minlength: 20 %>
          <%= submit_tag "Send", id: "email-submit-button", class: "btn btn-primary btn-lg btn-block"  %>
        </div>  
      </div>
    </div>
  </div>   
</div>
<% end %>
<% end %>

