<div class="container">
  <div class="contact">
    <div class="contact-header">
      <center><h1>Contact Us</h1></center>
    </div>

    <%= flash[:notice] %>

    <%= form_tag("/static_pages/thank_you") do %>
    
    <div class="row">
      
      <div class="col-md-6 col-xs-12 contact-group">
        <div class="form-group">
          <%= label_tag :name %>
          <%= text_field_tag :name, nil, class: "form-control", placeholder: "Enter Name", required: "true"; %>
        </div>      
        <div class="form-group">
          <%= label_tag :email, "Email Address" %>
          <%= text_field_tag :email, nil, type: "email", class: "form-control", placeholder: "Enter Email", required: "true" %>
        </div>  
        <div class="form-group">
          <%= label_tag :subject, "Subject" %>
          <%= text_field_tag :subject, nil, class: "form-control", placeholder: "Enter Subject" %>
        </div>       
      </div>

      <div class="col-md-6 col-xs-12">
        <div class="form-group">
          <%= label_tag :message %>
          <%= text_area_tag :message, nil, class: "form-control text-field", placeholder: "Enter Message", required: "true", minlength: 20 %>
          <%= submit_tag "Send", id: "email-submit-button", class: "btn btn-primary btn-lg btn-block"  %>
        </div>  
      </div>
    </div>
  </div>   
</div>
<% end %>



