<div class="container">
  <div class="banner">
    <div class="banner-bottom">
      <div class="banner-bottom-top">
        <h1>Best E-liquid, Best Price</h1>
      </div>
    </div>
    <div class="shop">
      <%= link_to "WATCH ALL PRODUCTS NOW", products_path %>
    </div>
  </div>
</div>

<div class="container">
  <div class="main-content">
    <div class="online-strip">
      <div class="col-md-4 follow-us">
        <h3>follow us : <a class="twitter" href="#"></a><a class="facebook" href="#"></a></h3>
      </div>
      <div class="col-md-4 shipping-grid">
        <div class="shipping">
          <%= image_tag "shipping.png", class: "img-responsive" %>
        </div>
        <div class="shipping-text">
          <h3>Free Shipping</h3>
          <p>for orders over &pound; 30</p>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-4 online-order">
        <p>Order online</p>
        <h3>Tel: 01733 898108</h3>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<section>
  <div class="container">
    <div class="categories-overview">
      <h1>Categories Overview</h1>
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <%= link_to category_path(id: 2) do %>
          <div class="grid-block slide">
            <div class="caption">
              <h3>Mods</h3>
            </div>
            <%= image_tag "categories-overview/mods.jpg", class: "img-responsive" %>
          </div>
          <% end %>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <%= link_to category_path(id: 3) do %>
          <div class="grid-block slide">
            <div class="caption">
              <h3>Atomizers</h3>
            </div>
            <%= image_tag "categories-overview/atomizers.png", class: "img-responsive" %>
          </div>
          <% end %>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <%= link_to category_path(id: 1) do %>
          <div class="grid-block slide">
            <div class="caption">
              <h3>Eliquids</h3>
            </div>
            <%= image_tag "categories-overview/eliquid.png", class: "img-responsive" %>
          </div>
          <% end %>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <%= link_to category_path(id: 4) do %>
          <div class="grid-block slide">
            <div class="caption">
              <h3>Accessories</h3>
            </div>
            <%= image_tag "categories-overview/accessories.jpg", class: "img-responsive" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>


<% cache @products do %>
<section class="latest-product">
  <div class="container">
    <center><h1>Latest products</h1></center>
    <div class="row">
      <% @products.each_with_index do |product, index| %>
      <% end %> 
      <% @products.each do |product| %>
        <%= link_to product_path(product) do %>
        <div class="col-md-3 col-md-3 col-sm-6 col-xs-12 img">
          <%= image_tag product.image_url, class: "img-responsive" %> 
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
<% end %>
<!--- AGE CHECK 
<script type="text/javascript" data-template="vaping2" id="AgeVerifyScript" data-age="18" data-method="MDY" src="https://av.ageverify.co/jsv3/dob.js"></script>
-->