<% cache do %>
<% if signed_in? && current_user.admin? %>
<div class="product-list-admin">
  <div class="container">
    <center><h1>Product list</h1></center>
    <table>
     <thead>
      <tr>
        <th class="list-name">Name</th>
        <th class="list-price">Price</th>
        <th class="list-id">ID</th>
        <th class="list-category">Category</th>
      </tr>
    </thead>
    <% @products.each_with_index do |product, index| %>
    <% end %> 
    <% @products.each do |product| %>
    <%= link_to product_path(product) do %>
    <tbody>
      <tr>
        <td class="list-name"><%= product.name %></td>
        <td class="list-price">&pound;<%= product.price %></td>
        <td class="list-id"><%= product.id %></td>
        <td><%= link_to Category.find(product.category_id).name, category_path(product.category_id), class: "list-category" %></td>
        <td class="product-control"><%= link_to 'Show', product, class: "show" %></td>
        <td class="product-control"><%= link_to 'Edit', edit_product_path(product), class: "edit" %></td>
        <td class="product-control"><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?'}, class: "delete" %></td>
      </tr>
    </tbody>
    <% end %>
    <% end %>
    </table>
    <%= will_paginate @products, renderer: BootstrapPagination::Rails %>
    <%= link_to 'New Product', new_product_path, class: "new-product" %>
  </div>
</div>
<% end %>
<% end %>