<div class="container text-center">
  <h1 class="text-center"> My Orders</h1>
    <% if @orders.blank? %>
        <br><br><br>
        <h5>No orders yet.</h5>
    <% else %>

    <% @orders.each do |order| %>
        <div class="col-md-4 col-sm-6 col-xs-12">

            <%= image_tag(order.product.image_url, size: '200x200', class: "img-responsive") %>

            <h4 class="text-info">
              Order #<%= order.id %>
            </h4>

            <%= link_to order.product, class: "text-success" do %>
            <h4>
              Product:
              <%= order.product.name unless order.product.name.blank? %>
            </h4>
            <% end %>

            <h4 class="text-secondary">
              Category:
              <%= order.product.category.name %>
            </h4>

            <h4 class="text-secondary text-center">
            <%= "Price: #{order.total}" %>
            &pound;
            </h4>
            <br>

            <p class="text-primary">
            <%= "Issued by: #{order.user.first_name}" unless order.user.first_name.blank? %>
            </p>
            
            <br>
            <%= link_to 'View', order, :class => "btn btn-success" %>
            <br><hr><br>
        </div>
    <% end %>
    <% end %>
</div>