<% cache product do %>
<tbody>
  <tr>
    <td class="list-name"><%= product.name %></td>
    <td class="list-price">&dollar;<%= product.price %></td>
    <td class="list-category"><%= link_to Category.find(product.category_id).name, category_path(product.category_id), class: "category" %></td>
    <td class="product-control"><%= link_to 'Show', product, class: "show" %></td>
    <td class="product-control"><%= link_to 'Edit', edit_product_path(product), class: "edit" %></td>
    <td class="product-control"><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?'}, class: "delete" %></td>
  </tr>
</tbody>
<% end %>

