<div class="col-lg-4 col-sm-6 col-md-6 col-xs-12">
  <%= image_tag(product.image_url, class: "img-responsive") %>
  <h4 id="product-name"><%= product.name %></h4>
  <p id="product-description"><%= product.description %></p>
  <h5 id="product-color"><%= product.color %></h5>
  <h4><i class="glyphicon glyphicon-usd"></i><%= product.price %></h4>
  <ul>
    <li><%= link_to 'Show', product %></li>
    <li><%= link_to 'Edit', edit_product_path(product) %></li>
    <li><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></li>
  </ul>
</div><!-- /col -->