<div class="container show-product">
  <% if signed_in? && current_user.admin? %>
  <p><%= link_to 'Edit', edit_product_path(@product) %></p>
  <p>Product id: <%= @product.id %></p>
  <% end %>

  <div class="row" data-product-id="<%= @product.id %>">
    <div class="col-md-6 col-xs-12 show-product-left">
      <%= image_tag(@product.image_url, class: "img-zoom img-responsive", id: "product-img", data_zoom_image: "true") %>
    </div>

    <div class="col-md-6 col-xs-12 show-product-right">
      <h2 class="product-name">
        <%= @product.name %> 
      </h2>
      <p class="product-description">
        <%= @product.description %>
      </p>
      <% if @product.respond_to?(:flavors) && @product.flavors.present? %>
      <p>
        <%= @product.flavors %>
      </p>
      <% end %>
      
      <div class="product-payment">
        <div class="product-rating">
          <strong>Average Rating:</strong> 
          <div class="rated" id="average_rating" data-score="<%= @product.average_rating %>"></div> 
        </div>
        <hr>
        <h3 class="product-price">
          &pound; <%= @product.price %>
        </h3>
        <hr>
        <!-- Payment button -->
        <div class="payment-button">
          <%= form_tag "/payments/create" do %>
          <%= render partial: "shared/stripe_checkout_button" %>
          <%= hidden_field_tag(:product_id, @product.id) %>
          <% end %>
        </div>
      </div>
    </div>
  
    <div class="col-md-8 col-xs-12 comment-rate-product">

      <div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
      <p><%= render partial: 'new_comment' %></p>
      <p><%= render partial: 'comments' %></p>
      
      <br><br>
      <div class="digg_pagination">
        <div class="page_info">
          <%= page_entries_info @comments %>
        </div>
        <%= will_paginate @comments, :container => false %>
      </div>

    </div>
  </div>
</div>

