<footer>
  <div class="container">
    <div class="footer-links">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12 links">
          <h5>SHOP</h5>
          <ul>
            <% @categories.each do |category| %>
              <li><%= link_to category.name, category %></li>
            <% end %>
          </ul>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 links">
          <h5>ACCOUNT</h5>
          <ul>
            <li><%= link_to "Create an Account", new_user_registration_path %></li>
            <li><%= link_to "Manage Your Account", about_path %></li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 links">
          <h5>ABOUT</h5>
          <ul>
            <li><%= link_to "Faq", faq_path %></li>
            <li><%= link_to "Contact Us", contact_path %></li>
            <li><%= link_to "Our Story", about_path %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="social">
      <center><h4>Social</h4></center>
      <ul>
        <li><a href="#"><span class="fi-social-facebook icon-size"></span>Facebook</a></li>
        <li><a href="#"><span class="fi-social-twitter icon-size"></span>Twitter</a></li>
        <li><a href="#"><span class="fi-social-google-plus icon-size"></span>Google</a></li>
      </ul>
    </div>
    <div class="cards text-center">
      <%= image_tag("cards.jpg", class: "img-responsive") %>
    </div>
    <div class="copyright text-center">
      <p>© 2017 Clouds Eshop. All Rights Reserved</p>
    </div>
  </div>
</footer>